{% extends 'base.html' %}

{% block title %}Drought across the nation for last 10 years{% endblock %}

{% block content %}

    <h1>List of drought levels by week for last 10 years</h1>

    <table>

    {% for d in drought %}
        <tr>

            <td>{{ d.rowid }}</td>
            <td>{{ d.date }}</td>
            <td>{{ d.none }}</td>
            <td>{{ d.D0D4 }}</td>
            <td>{{ d.D1D4 }}</td>
            <td>{{ d.D2D4 }}</td>
            <td>{{ d.D3D4 }}</td>
            <td>{{ d.D4 }}</td>

        </tr>
    {% endfor %}

    </ul>

{% endblock %}