{% extends 'base.html' %}

{% block title %}Recent police dispatches in Columbia{% endblock %}

{% block content %}

    <h1>List of drought levels by week for last 10 years</h1>

    <table>

    {% for d in drought %}
        <tr>

            <td><a href="{% url detail c.rowid %}">{{ c.rowid }}</a></td>
            <td>{{ d.date }}</td>
            <td>{{ d.nothing }}</td>
            <td>{{ d.d0d4 }}</td>
            <td>{{ d.d1dd4 }}</td>
            <td>{{ d.d2d4 }}</td>
            <td>{{ d.d3d4 }}</td>
            <td>{{ d.d4 }}</td>

        </tr>
    {% endfor %}

    </ul>

{% endblock %}